
/* *********************** */
/* BANNER MANAGEMENT */
.imgBannerInTable {width:50px}
.fontCatNumber {
    font-size:9px;
    margin-bottom: 2px;
    margin-right: 2px;
}

body {
    color: #3f3f3f !important;
}

.body {
    color: #3f3f3f !important;
}